<div class="navbar" id="navbar">
    <div style="text-align: center">
      <a asp-area="" asp-controller="Home" asp-action="Index" class="navelement" id ="home">HOME</a>
      <a asp-area="" asp-controller="Home" asp-action="About" class="navelement" id = "about">ABOUT</a>
      <a asp-area="" asp-controller="Home" asp-action="Resume" class="navelement" id = "resume">RESUME</a>
      <a asp-area="" asp-controller="Home" asp-action="Contact" class="navelement" id = "contact">CONTACT</a>
      <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="responsiveTabs()">&#9776;</a>
    </div>
</div>