@{
    ViewData["Title"] = "About";
}
<div class="spacer"></div>

<div>
    <h6 class="sub-heading"> hobbies, passions, whereabouts </h6>
    <h2 id = "page-heading" class="heading"> GET TO KNOW ME</h2>
</div>

<section>
    <h3 class= "experience-type">Bio</h3>
    <p class="marginalized-100 about-description">
        I am 22 years old, born in China, raised in South Carolina, and currently living in Utah.
        I play Rocket League with my husband on the weekends and enjoy kicking trash in the best sport, soccer.
        I built this website so that I 
        could learn how to build websites, and I think it turned out pretty cool (read that like the guy in The Office who
        is a carbon copy of Michael Scott in Season 8.) <br><br>
        Unfortunately, I don't speak Mandarin even though I look like I should.
        But I did take 3 classes of Spanish in college and LOVE to keep up on that. 
        After graduating, I tried to find hobbies to do after work and these include: ukelele, Spanish, Breathe of The Wild, building this website,
        painting, crafting, and reading whole books in one day. 
    </p>
</section>

<section class="colored-section">
    <div class="row panel-body marginalized-15">
        <div class="column">
            <div class="textWithBlurredBg">
                <img src="~/images/gallery_1.jpg" alt="ASP.NET" class="img-responsive" onclick="openModal();currentSlide(1)"/>
                <h2>Monkey</h2>
                <h3>Beijing Zoo, China</h3>
            </div>
            <div class="textWithBlurredBg">
                <img src="~/images/gallery_2.jpg" alt="ASP.NET" class="img-responsive" onclick="openModal();currentSlide(2)"/>
                <h2>Temple Square</h2>
                <h3>Salt Lake City, Utah</h3>
            </div>
            <div class="textWithBlurredBg">
                <img src="~/images/gallery_3.jpg" alt="ASP.NET" class="img-responsive" onclick="openModal();currentSlide(3)"/>
                <h2>Great Wall</h2>
                <h3>Beijing, China</h3>
            </div>
        </div>
        <div class="column">
            <div class="textWithBlurredBg">
                <img src="~/images/gallery_4.jpg" alt="ASP.NET" class="img-responsive" onclick="openModal();currentSlide(4)"/>
                <h2>Wedding Day</h2>
                <h3>Salt Lake City, Utah</h3>
            </div>
            <div class="textWithBlurredBg">
                <img src="~/images/gallery_5.jpg" alt="ASP.NET" class="img-responsive" onclick="openModal();currentSlide(5)"/>
                <h2>Lone Tree</h2>
                <h3>Angel's Landing, Zion's National Park</h3>
            </div>
            <div class="textWithBlurredBg">
                <img src="~/images/gallery_6.jpg" alt="ASP.NET" class="img-responsive" onclick="openModal();currentSlide(6)"/>
                <h2>Temple of Heaven</h2>
                <h3>Beijing, China</h3>
            </div>
        </div>
        <div class="column">
            <div class="textWithBlurredBg">
                <img src="~/images/gallery_7.jpg" alt="ASP.NET" class="img-responsive" onclick="openModal();currentSlide(7)"/>
                <h2>Purple</h2>
                <h3>Charleston, South Carolina</h3>
            </div>
            <div class="textWithBlurredBg">
                <img src="~/images/gallery_8.jpg" alt="ASP.NET" class="img-responsive" onclick="openModal();currentSlide(8)"/>
                <h2>Family</h2>
                <h3>Provo, Utah</h3>
            </div>
            <div class="textWithBlurredBg">
                <img src="~/images/gallery_9.jpg" alt="ASP.NET" class="img-responsive" onclick="openModal();currentSlide(9)"/>
                <h2>Double O</h2>
                <h3>Arches National Park, Utah</h3>
            </div>
        </div>
        <div class="column"> 
            <div class="textWithBlurredBg">
                <img src="~/images/gallery_10.jpg" alt="ASP.NET" class="img-responsive" onclick="openModal();currentSlide(10)"/>
                <h2>Forbidden City</h2>
                <h3>Beijing, China</h3>
            </div>
            <div class="textWithBlurredBg">
                <img src="~/images/gallery_11.jpg" alt="ASP.NET" class="img-responsive" onclick="openModal();currentSlide(11)"/>
                <h2>Crabbin'</h2>
                <h3>North Myrtle Beach, South Carolina</h3>
            </div>
            <div class="textWithBlurredBg">
                <img src="~/images/gallery_12.jpg" alt="ASP.NET" class="img-responsive" onclick="openModal();currentSlide(12)"/>
                <h2>Adventuring</h2>
                <h3>Provo Canyon, Utah</h3>
            </div>
        </div>
    </div>
</section>
