@{
    ViewData["Title"] = "Home Page";
    Layout = null;
}

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
    <script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>
</head>
<body>

    <div class="navbar" id="navbar">
        <div style="text-align: right">
          <a asp-area="" asp-controller="Home" asp-action="Index" class="navelement" id ="home">HOME</a>
          <a asp-area="" asp-controller="Home" asp-action="About" class="navelement" id = "about">ABOUT</a>
          <a asp-area="" asp-controller="Home" asp-action="Resume" class="navelement" id = "resume">RESUME</a>
          <a asp-area="" asp-controller="Home" asp-action="Contact" class="navelement" id = "contact">CONTACT</a>
          <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="responsiveTabs()">&#9776;</a>
        </div>
    </div>
        
    <div class="hero-image">
      <div class="hero-text">
        <h1>I am Caroline Tyler</h1>
        <p>Developer / Life-Long Student</p>
      </div>
    </div>


    <section class="colored-section">
        <div class="experience-section">
            <li><h3 class="experience-type">Skills</h3></li>
            <div class="row">
                <div class="col-lg-6">
                    <ul>
                        <li>C++</li>
                        <li>C#</li>
                        <li>Python</li>
                        <li>HTML</li>
                        <li>CSS</li>
                        <li>Javascript</li>
                    </ul>
                </div>
                <div class="col-lg-6">
                    <ul>
                        <li>Android</li>
                        <li>Java</li>
                        <li>MVC</li>
                        <li>Entity Framework</li>
                        <li>Agile/SCRUM Framework</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <div class="experience-section">
        <li><h3 class="experience-type">Experience</h3></li>
        <div>
            <div class="row">
                <div class="col-lg-4 w3-margin-top">
                    <img src="~/images/red-pepper-software.svg" alt="ASP.NET" class="img-responsive img-experience info-left"/>
                </div>
                <div class="col-lg-8 w3-margin-top">
                    <div class="row">
                        <h3 class="experience-title"><a target ="_blank" href="http://redpeppersoftware.com/">Red Pepper Software</a></h3>
                    </div>
                    <div class="row">
                        <h4 class="experience-subtitle">Software Development Intern || August 2017 - Present</h4>
                    </div>
                    <div class="row">
                        <h4 class="experience-description info-right">
                            At Red Pepper, I built solutions to problems that mattered. The main project that I was able to work on while
                            at Red Pepperx was Jordan Valley Water Conservation District's webiste. I used Visual Studio and worked in 
                            with MVC, Entity Framework, C#, SQL, HTML, CSS and Javascript during my internships at Red Pepper. 
                        </h4>
                    </div>
                </div>
            </div>
            
            <div class="row offset-top-20">
                <div class="col-lg-4 w3-margin-top">
                    <img src="~/images/ivyhallacademy.jpg" alt="ASP.NET" class="img-responsive img-experience info-left"/>
                </div>
                <div class="col-lg-8">
                    <div class="row w3-margin-top">
                        <h3 class="experience-title"><a target ="_blank" href="http://ivyhallacademy.org/">Ivy Hall Academy</a></h3>
                    </div>
                    <div class="row">
                        <h4 class="experience-subtitle"> Computer Specialist || August 2017 - Present</h4>
                    </div>
                    <div class="row">
                        <h4 class="experience-description info-right">
                            I had the privilege of teaching children grades Pre-K4 through 8th how to use computers. I was able
                            to build my own curriculum based on typing, coding, and learning the basics of a computer. It was a unique
                            opportunity to learn patience, collaboration with others, and teaching. 
                        </h4>
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-lg-4 w3-margin-top">
                    <img src="~/images/byu.png" alt="ASP.NET" class="img-responsive img-experience info-left"/>
                </div>
                <div class="col-lg-8 w3-margin-top">
                    <div class="row">
                        <h3 class="experience-title"><a target ="_blank" href="http://byu.edu/">Brigham Young University</a></h3>                
                    </div>
                    <div class="row">
                        <h4 class="experience-subtitle"> Lab Assistant || 2015 - 2017 </h4>                
                    </div>
                    <div class="row">
                        <h4 class="experience-description info-right">
                            I assisted Dr. Perry Ridge, professor in the Biology Department, in his lab work. This required quickly learning new
                            tools such as...
                        </h4>
                    </div>
                </div>
            </div>
        </div>        
    </div>

    <section class="colored-section">
        <div class="experience-section">
            <li><h3 class= "experience-type">Education</h3></li>
            <div class= "offset-left-30">
                <div class="row">
                    <div class="col-lg-4 w3-margin-top">
                        <img src="~/images/byu.png" alt="ASP.NET" class="img-responsive img-experience info-left"/>
                    </div>
                    <div class="col-lg-8 w3-margin-top">
                        <div class="row">
                            <h3 class="experience-title"><a target ="_blank" href="http://byu.edu/">Brigham Young University</a></h3>                
                        </div>
                        <div class="row">
                            <h4 class="experience-subtitle"> Bachelor of Science || June 2013 - April 2017 </h4>                
                        </div>
                        <div class="row">
                            <h4 class="experience-description info-right">
                                At Brigham Young University I was able to participate in an enriching and competitive environment and obtain
                                my degree in Bioinformatics and a minor in Computer Science. It is there where I found my passion for
                                coding and problem solving through code. 
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer class="copyright">
        <p>&copy; 2018 - Caroline Tingwei Tyler</p>
    </footer>
</body>
</html>

<script type="text/javascript" src="~/js/_layout.js"></script>