@{
    ViewData["Title"] = "Home Page";
    Layout = null;
}

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
    <script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>
</head>
<body>
  
    <div class="hero-image">
        <div class="hero-text">
        <h1>I am Caroline Tyler</h1>
        <p>Developer / Life-Long Student</p>
        </div>

        <div class="home-page-navbar" id="home-page-navbar">
              <a asp-area="" asp-controller="Home" asp-action="Index" class="navelement" id ="home">HOME</a>
              <a asp-area="" asp-controller="Home" asp-action="About" class="navelement" id = "about">ABOUT</a>
              <a asp-area="" asp-controller="Home" asp-action="Resume" class="navelement" id = "resume">RESUME</a>
              <a asp-area="" asp-controller="Home" asp-action="Contact" class="navelement" id = "contact">CONTACT</a>
              <a href="javascript:void(0);" class="icon" onclick="responsiveTabs()">&#9776;</a>
        </div>
    </div>
        
</body>
</html>

<script type="text/javascript" src="~/js/_layout.js"></script>