@{
    ViewData["Title"] = "Resume";
}
<div class="spacer"></div>

<section class="ss-style-foldedcorner::before">
    <div>
        <h6 class="sub-heading"> skills, experience, education </h6>
        <h2 id = "page-heading" class="heading">WHAT I'VE DONE</h2>
    </div>  
</section>

<div class="resume-download">
    <a target= "_blank" href="/pdfs/Resume_Caroline_Tyler.pdf" class="btn btn-primary">Download Resume</a>
</div>

<ul class="experience-list">
    <section class="colored-section">
        <div class="experience-section">
            <li><h3 class="experience-type">Skills</h3></li>
            <div class="row">
                <div class="col-lg-6">
                    <ul>
                        <li>C#</li>
                        <li>C++</li>
                        <li>Python</li>
                        <li>HTML</li>
                        <li>CSS</li>
                        <li>Javascript</li>
                    </ul>
                </div>
                <div class="col-lg-6">
                    <ul>
                        <li>Android</li>
                        <li>Java</li>
                        <li>MVC</li>
                        <li>Entity Framework</li>
                        <li>Agile/SCRUM Framework</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <div class="experience-section">
        <li><h3 class="experience-type">Experience</h3></li>
        <div>

            <div class="row">
                <div class="col-lg-4 w3-margin-top">
                    <img src="~/images/navitaire.png" alt="ASP.NET" class="img-responsive img-experience info-left"/>
                </div>
                <div class="col-lg-8 w3-margin-top">
                    <div class="row">
                        <h3 class="experience-title"><a target ="_blank" href="http://navitaire.com/">Navitaire</a></h3>                
                    </div>
                    <div class="row">
                        <h4 class="experience-subtitle"> Software Devleopment Analyst || July 2018 - Present </h4>                
                    </div>
                    <div class="row">
                        <h4 class="experience-description info-right">
                            At Navitaire, I work on the dotREZ API team. Navitaire is currently migrating from using a SOAP API to a JSON/RESTful API. 
                            I work on a team of four developers and we work under an Agile framework, with three week sprints and retrospectives every sprint.
                            I work in Visual Studio in C# and am able to interact with a myriad of other teams and customers meeting their needs and developing new endpoints.
                        </h4>
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-lg-4 w3-margin-top">
                    <img src="~/images/red-pepper-software.svg" alt="ASP.NET" class="img-responsive img-experience info-left"/>
                </div>
                <div class="col-lg-8 w3-margin-top">
                    <div class="row">
                        <h3 class="experience-title"><a target ="_blank" href="http://redpeppersoftware.com/">Red Pepper Software</a></h3>
                    </div>
                    <div class="row">
                        <h4 class="experience-subtitle">Software Development Intern || August 2017 - May 2018</h4>
                    </div>
                    <div class="row">
                        <h4 class="experience-description info-right">
                            At Red Pepper, I built solutions to problems that mattered. The main project that I was able to work on while
                            at Red Pepper was Jordan Valley Water Conservation District's webiste. I used Visual Studio and worked in 
                            with MVC, Entity Framework, C#, SQL, HTML, CSS and Javascript during my internships at Red Pepper. 
                        </h4>
                    </div>
                </div>
            </div>
            
            <div class="row offset-top-20">
                <div class="col-lg-4 w3-margin-top">
                    <img src="~/images/ivyhallacademy.jpg" alt="ASP.NET" class="img-responsive img-experience info-left"/>
                </div>
                <div class="col-lg-8">
                    <div class="row w3-margin-top">
                        <h3 class="experience-title"><a target ="_blank" href="http://ivyhallacademy.org/">Ivy Hall Academy</a></h3>
                    </div>
                    <div class="row">
                        <h4 class="experience-subtitle"> Computer Specialist || August 2017 - May 2018</h4>
                    </div>
                    <div class="row">
                        <h4 class="experience-description info-right">
                            I had the privilege of teaching children grades Pre-K4 through 8th how to use computers. I was able
                            to build my own curriculum based on typing, coding, and learning the basics of a computer. It was a unique
                            opportunity to learn patience, collaboration with others, and teaching. 
                        </h4>
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-lg-4 w3-margin-top">
                    <img src="~/images/byu.png" alt="ASP.NET" class="img-responsive img-experience info-left"/>
                </div>
                <div class="col-lg-8 w3-margin-top">
                    <div class="row">
                        <h3 class="experience-title"><a target ="_blank" href="http://byu.edu/">Brigham Young University</a></h3>                
                    </div>
                    <div class="row">
                        <h4 class="experience-subtitle"> Lab Assistant || 2015 - 2017 </h4>                
                    </div>
                    <div class="row">
                        <h4 class="experience-description info-right">
                            I assisted Dr. Perry Ridge, professor in the Biology Department, in his lab work. This required quickly learning new
                            tools such as...
                        </h4>
                    </div>
                </div>
            </div>

        </div>        
    </div>

    <section class="colored-section">
        <div class="experience-section">
            <li><h3 class= "experience-type">Education</h3></li>
            <div class= "offset-left-30">
                <div class="row">
                    <div class="col-lg-4 w3-margin-top">
                        <img src="~/images/byu.png" alt="ASP.NET" class="img-responsive img-experience info-left"/>
                    </div>
                    <div class="col-lg-8 w3-margin-top">
                        <div class="row">
                            <h3 class="experience-title"><a target ="_blank" href="http://byu.edu/">Brigham Young University</a></h3>                
                        </div>
                        <div class="row">
                            <h4 class="experience-subtitle"> Bachelor of Science || June 2013 - April 2017 </h4>                
                        </div>
                        <div class="row">
                            <h4 class="experience-description info-right">
                                At Brigham Young University I was able to participate in an enriching and competitive environment and obtain
                                my degree in Bioinformatics and a minor in Computer Science. It is there where I found my passion for
                                coding and problem solving through code. 
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</ul>