@{
    ViewData["Title"] = "Resume";
}
<div class="spacer"></div>

<div>
    <h6 class="sub-heading"> skills, experience, education </h6>
    <h2 id = "page-heading" class="heading">WHAT I'VE DONE</h2>
</div>

<div class = "panel-body">
    <p><h3 class="sub-heading">Personal Statement</h3></p>
    <p>
        <h6 style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">
            I am a graduate seeking opportunities to build software that matters and makes a meaningful impact on our society.
            I want to collaborate with those with the same values as me. 
        </h6>
    </p>
</div>

<ul style="list-style-type: none;">
    <li><h3 style="font-family: Mina-Regular">Experience</h3></li>
    <div class="offset-top-20">
        <img src="~/images/ivyhallacademy.jpg" alt="ASP.NET" class="img-responsive img-experience"/>
    </div>
    <div class="offset-top-20">
        <img src="~/images/red-pepper-software.svg" alt="ASP.NET" class="img-responsive img-experience"/>
    </div>
    <div class="offset-top-20">
        <img src="~/images/byu.png" alt="ASP.NET" class="img-responsive img-experience"/>
    </div>
    
    <li><h3 class= "offset-top-20" style="font-family: Mina-Regular">Education</h3></li>
</ul>